name: infrastructure workflow simulation
on: [push,workflow_dispatch]
jobs:
  b_validate:
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/master'
    steps:
      - name: Get code 
        uses: actions/checkout@v3
      - name: install terraform
        uses: hashicorp/setup-terraform@v2
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: terraform init
        run: terraform init
      - name: terraform validate
        run: terraform validate
      - name: terraform plan
        run: terraform plan
   
  b_promote_to_dev:
    runs-on: ubuntu-latest
    needs: b_validate
    if: github.ref != 'refs/heads/master'
    steps:
      - name: promote the dependencies into dev s3
        run: echo 'inside b_promote_to_dev'
      
  b_deploy_to_dev:
    runs-on: ubuntu-latest
    needs: b_validate
    if: github.ref != 'refs/heads/master'
    steps:
      - name: Get code 
        uses: actions/checkout@v3
      - name: install terraform
        uses: hashicorp/setup-terraform@v2
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: terraform init
        run: terraform init
      - name: terraform validate
        run: terraform validate
      - name: terraform plan
        run: terraform plan
      - name: applying changes
        run: terraform apply -auto-approve